body{
  background-image : url('https://i.imgur.com/A6slVtV.jpg');
  background-repeat :no-repeat;
  color : white;
  margin : 40px 100px 40px 100px;
  font-family : FreeMono, monospace;
}

*{
  position : relative;
}

div.inline-block{
  display : inline-block;
  width : 30%;
}

header{
  box-sizing : border-box;
  position : fixed;
  top : 40px;
  width : 100%;
}

header span{
  float : left;
  width : 5%;
}

header."fas fa-circle"{
  width : 10px;
  margin : 0px;
}

span.line {
  width : 65%;
}

hr{
  border : 0px;
  height : 3px;
  background-color : #F5F5F5;
  color : #F5F5F5; 
}

#header_left {
  position : absolute;
  padding-left : 50px;
  width : 15%;
}
#header_left *{
  padding-right : 20px;
}

span form{
  display : inline;
}

i."fas fa-search", i."fas fa-ellipsis-h"{
  width : 30px;
}

.container{
  margin-top : 100px;
  margin-right : 30px;
  height : 500px;
}

#left{
  position : absolute;
  left : 0px;
  width : 40%;
  padding-left : 50px;
}
#right{
  padding-top : 50px;
  position : absolute;
  right : 0px;
  width : 55%;
  font-size : 25px;
}

#left1{
  font-size : 30px;
  font-weight : bold;
}

button{
  font-weight: bold;
  font-size : 10px;
  text-align : center;
  padding : 15px 30px;
  border : none;
  border-radius : 2px;
  background-color : hsl(0, 100%, 75%);
  color : white;
  box-shadow : 4px 0px 80px 2px hsla(0, 100%, 75%, 0.1), -4px -0px 80px 2px hsla(0, 100%, 75%, 0.1), 0px 4px 80px 2px hsla(0, 100%, 75%, 0.1), 0px -4px 80px 2px hsla(0, 100%, 75%, 0.1);
}

#map{
  height : 200px;
}
#map span{
  width : 30%;
  float : left;
}
#path{
  vertical-align : top; 
  width : 35%;
}
#starting_point{
  max-width : 15%;
  vertical-align : top;
  text-decoration : underline dotted;
}

#small_container{
  width : 40%;
}
#destination{
  padding-top : 40px;
  vertical-align : bottom;
  bottom : 0px;
}
img{
  float : left;
  max-width : 200px;
}

.traffic_way span{
  padding-right : 40px;
  float : right;
  clear : right;
}
.icon h6{
  display : inline;
}
.icon i{
  padding-right : 20px;
}

#map_go_detail_arrow{
  padding-left : 20px;
}
footer{
  box-sizing : border-box;
  position : fixed;
  bottom : 0px;
  padding-bottom : 40px;
  width : 100%;
}

footer span{
  float : left;
  width : 10%;
}

span.footer_line {
  width : 60%;
  padding-top : 77px;
  padding-right : 4em;
}

.footer_line hr{
  height : 5px;
}
div.footer_icon{
  display : inline-block;
  margin-top : 40px;
}

#date{
  display : inline;
  font-size : 100px;
  font-weight : bold;
}
#Location{
  position : relative;
  top : 45px;
  left : 88px;
  background-color : #615757;
  width : 60px;
  text-align : center;
  z-index : 1;
}
